@import "~bootstrap/scss/bootstrap";
body {
  background-color:lightgoldenrodyellow;
}

.hide {
  display: none;
}

#pins-on-board{
  display: flex;
  text-align: center;
  flex-wrap: nowrap;
  min-width: 600px;
  flex-grow: 0;
  padding:2rem;
  justify-content: center;
  align-content: center;
}

img {
  padding:2rem;
  vertical-align: middle;
  border-style: none;
  height: 200px;
  border: 1px solid BLACK;
  box-shadow: 1px 2px 2px 1px;
 
}
.flex-wrap{
  
    display: flex;
    text-align: center;
    flex-wrap: nowrap;
    min-width: 600px;
    flex-grow: 0;
    justify-content: center;
    align-content: center;

}